@import "../../common/color.scss";

.editWrap {
  border: none;
  height: 400px;
  width: 400px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  table-layout: fixed;
}

.editBody {
  border: $font-title-color 1px solid;
  background-color: $components-color;
  height: 400px;
  width: 400px;
  color: $font-primary;
  font-size: x-large;
  padding: 20px;
  table-layout: fixed;
}
.edit_done_btn {
  border: $font-title-color 1px solid;
  border-radius: 5px;
  background: $font-title-color;
  color: $font-primary;
  padding: 15px;
  cursor: pointer;
  margin-top: 10px;
  width: 50%;
  margin-top: 50px;
  margin-left: 120px;
  margin-right: 50px;
}
