$background-color: #0f171e;
$components-color: #1a242f;
$font-primary: #ffffff; //제목외 모든 폰트 컬러
$font-title-color: #e50914;

// @import "../../common/colors.scss";

// .header {
// background-color: $secondary-color;
// height: 72px;
// padding: 0px 40px;
// display: flex;
// align-items: center;
// justify-content: space-between;
// }
